body {
  background-color: #36393f;
  color: lightgray;
  margin: unset;
}

#app {
  height: 100vh;
}

.main {
  height: 100%;
  animation: fadein 0.5s linear 1;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.split-main {
  height: 100%;
}

.split-panel {
  display: flex;
  height: 100%;
}

.top-container {
  display: flex;
  flex-direction: column;
}

.top-controls {
  margin-bottom: 5px;
}

.run-btn {
  border-radius: 5px;
  height: 2.5em;
  font-weight: bold;
  outline: 0;
  border-style: solid;
}

.run-btn:enabled {
  background-color: #a42;
  border-color: #88361b;
  color: white;
  cursor: pointer;
}

.load-model-select {
  margin-left: 20px;
  height: 2em;
}

.editor-container {
  border: 2px solid #bbb;
  height: 100%;
  position: relative;
}

.terminal-container {
  border-right: 2px solid #bbb;
}

.status-container {
  border-left: 2px solid #bbb;
  padding: 5px;
}

.gutter.gutter-vertical {
  cursor: row-resize;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.control-panel {
  border: 2px solid #bbb;
  overflow: auto;
}

.canvas-container {
  position: absolute;
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: move;
}

#canvas {
  margin: 2px 2px 2px 2px;
}

.CodeMirror {
  height: 100%;
  width: 100%;
  position: absolute;
  font-family: "Fira Code", "Courier New", monospace;
  font-size: 13px;
}

.status-working {
  color: #c2c277;
}

.status-initial {
  color: #7374c1;
}

.status-done {
  color: #75c276;
}

.status-data {
  font-weight: bolder;
}

.wasm-container-title {
  color: #d0d0d0;
  font-size: 18px;
}

.render-time {
  color: #d0d0d0;
  margin-top: 3px;
  font-size: 18px;
}

.workers-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 3px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.worker-state-container {
  border: 1px solid lightgray;
  margin: 2px;
  padding: 2px;
  width: 200px;
  background-color: #29262f;
  color: #d9d9d9;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

.terminal {
  --color: #deb88d;
  --background: #09141b;
}

.terminal,
.terminal-output > :not(.raw) span,
.terminal-output > :not(.raw) a,
.terminal-output > :not(.raw) div,
.cmd,
.cmd span,
.cmd div {
  font-family: "Fira Code", "Courier New", monospace;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.active-border {
  background-image: linear-gradient(90deg, #20b119 50%, transparent 50%),
    linear-gradient(90deg, #20b119 50%, transparent 50%),
    linear-gradient(0deg, #20b119 50%, transparent 50%),
    linear-gradient(0deg, #20b119 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
  background-position: left top, right bottom, left bottom, right top;
  animation: border-dance 0.25s infinite linear;
}

.inactive-border {
  border: 1px solid silver;
}

@keyframes border-dance {
  0% {
    background-position: left top, right bottom, left bottom, right top;
  }
  100% {
    background-position: left 15px top, right 15px bottom, left bottom 15px,
      right top 15px;
  }
}
