body {
  background-color: #36393f;
  color: lightgray;
  margin: unset;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.editor-container {
  border: 4px solid #bbb;
}

.control-panel {
  height: calc(20vh - 8px);
  border: 4px solid #f00;
  overflow: auto;
}

.canvas-container {
  position: absolute;
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: move;
}

#canvas {
  margin: 2px 2px 2px 2px;
}

.CodeMirror {
  height: calc(80vh - 8px);
  font-family: "Fira Code", "Courier New", monospace;
  font-size: 13px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.active-border {
  background-image: linear-gradient(90deg, #20b119 50%, transparent 50%),
    linear-gradient(90deg, #20b119 50%, transparent 50%),
    linear-gradient(0deg, #20b119 50%, transparent 50%),
    linear-gradient(0deg, #20b119 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
  background-position: left top, right bottom, left bottom, right top;
  animation: border-dance 0.25s infinite linear;
}

@keyframes border-dance {
  0% {
    background-position: left top, right bottom, left bottom, right top;
  }
  100% {
    background-position: left 15px top, right 15px bottom, left bottom 15px,
      right top 15px;
  }
}
